.Login {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #78CCBF;
}

form {
  display: block;
  position: relative;
}

form:after {
  content:'';
  display: block;
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #3F7034, #3AE514);
}

form .form-inner{
  position : relative;
  display: block;
  background-color: white;
  padding: 30px;
  z-index:2;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight:500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: inline;
  color: #666;
  width:300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color:#666;
  font-size: 12px;
  margin-bottom:5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #fe4880;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #C9C9C9;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  background-color: #e5e5e5;
}

form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #457457 50%, #3F7034 50%, #3AE514);
  background-size: 200%;
  background-position: 0%;
  transition: #FFF;
  color:#FFF;
  font-weight: 700;
  cursor:pointer;
  margin-top:8px;
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}